*{	
    margin: 0;	
    padding: 0;	
    box-sizing: border-box;	
}

@font-face {
  font-family: FFMarkPro;
  src: url("../resources/FontFont_FF.Mark.Pro.otf");
}

@font-face {
  font-family: FFMarkProBold;
  src: url("../resources/FontFont_FF.Mark.Pro.Bold.otf");
}

@font-face {
  font-family: FFMarkProBlack;
  src: url("../resources/FontFont_FF.Mark.Pro.Black.otf");
}

body {
  /* Ruta relativa o completa a la imagen */
  background-image: url(../imagenes/fondo2.png);
  /* Centramos el fondo horizontal y verticalmente */
  background-position: center center;
  /* El fonde no se repite */
  background-repeat: no-repeat;
  /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
  background-attachment: fixed;
  /* El fonde se re-escala automáticamente */
  background-size: cover;
}

.container {
  width: 100%;
  margin: auto;
  font-family: FFMarkPro;

  /*FLEX*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

header {
  background: #000;
  width: 100%;
  padding: 0 10px;
  font-family: FFMarkProBlack;

  /*FLEX*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

header .logo img {
  width: 200px;
  vertical-align: top;
}

header nav {
  /*Se cambió del 50% al 70%*/
  width: 50%;

  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  background: black;
  /*color:#986E1E;*/
  color: #986E1E;
  text-align: center;
  text-decoration: none;
  padding: 18px;

  font-size: 18px;

 /*FLEX HIJO*/
  flex-grow: 1;
}

header nav a:hover {
  border-bottom: 2px solid #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}

.main {
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;

}

.main img {
  padding: 10px 0px;
  width: 100%;
  height: 650px;
}

.main a {
  background: rgb(51, 235, 235, 0.5);
  color: #fff;
  padding: 20px;
  width: 400px;
  top: 70%;
  left: 22%;
  text-decoration: none;
  position: absolute;
  font-size: 15px;
  text-align: center;
  display: table-header-group;
}

aside {
  padding: 20px;
  /*FLEX*/
  flex: 1 1 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

aside h2 {
  background: #986E1E;
  /*text-align: center;*/
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

aside .guia p {
  background: #212E33;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

aside .guia a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

}

aside .guia p:hover {
  background: #986E1E;
}

footer {
  background: #986E1E;
  width: 100%;
  padding: 5px 10px;
 /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .nombres {
  line-height: 50px;
  color: #fff;
}

/*footer .social{
      display: flex;
      flex-wrap: wrap;
  }*/
footer .social a {
  flex-grow: 1;
  color: #986E1E;
  text-decoration: none;
  text-align: center;
  padding: 10px;

}

footer i {
  background: #000;
  border-radius: 50%;
  padding: 15px 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer i:hover {
  background: whitesmoke;
}

/*@media screen and (max-width:1000px) {
  .main img {
    width: 600px;
    height: 590px;
  }

  .main a {
    top: 70%;
    left: 10%;
  }
}*/

/*@media screen and (max-width:800px) {
  .contenedor {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  header .logo {
    margin: 20px 0px;
  }

  header nav {
    width: 100%;
  }

  aside {
    flex-direction: row;
    flex: 0;
  }

  aside .guia {
    flex-grow: 1;
  }
}*/

/*@media screen and (max-width:600px) {
  aside {
    flex-direction: column;
  }

  footer {
    justify-content: space-around;
  }

  .main img {
    width: 440px;
    height: 290px;
  }

  .main a {
    padding: 20px;
    width: 425px;
  }
}*/

/*@media screen and (max-width:300px) {
  aside {
    flex-direction: column;
  }

  footer {
    justify-content: space-around;
  }

  .main img {
    width: 50px;
    height: 30px;
  }

  .main a {
    padding: 10px;
    width: 30px;
  }

}*/

@media screen and (max-width:1300px) {
  .main img {
    width: 70%;
  }

  .main a {
    top: 70%;
    left: 10%;
  }
}

@media screen and (max-width:768px) {
  .container{
    flex-direction: column;
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  header .logo {
    margin: 20px 0px;
  }

  header nav {
    width: 100%;
  }
  .main img {
    width: 100%;
  }
  .main a {
    top: 70%;
    left: 22.5%;
  }

  aside {
    flex-direction: row;
    flex: 0;
  }

  aside .guia {
    flex-grow: 1;
  }
}

@media screen and (max-width:375px) {
  .container{
    font-size: 12px;
    flex-direction: column;
  }

  header {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
  }

  header .logo {
    margin: 20px 0px;
  }

  .main img {
    width: 100%;
    height: 50%;
  }
  .main a {
    top: 55%;
    width: 55%;
  }

  aside {
    flex-direction: row;
    flex: 0;
  }

  aside .guia {
    flex-grow: 1;
  }
}
/*@media screen and (max-width:375px) {
  aside {
    flex-direction: column;
  }

  footer {
    justify-content: space-around;
  }

  .main img {
    width: 440px;
    height: 290px;
  }

  .main a {
    padding: 20px;
    width: 425px;
  }
}

@media screen and (max-width:300px) {
  aside {
    flex-direction: column;
  }

  footer {
    justify-content: space-around;
  }

  .main img {
    width: 50px;
    height: 30px;
  }

  .main a {
    padding: 10px;
    width: 30px;
  }

}*/




/*---------------BUSCADOR -------- */
.search {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 2px solid #986E1E;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type=button] {
  background: none;
  border: none;
  cursor: pointer;
}

/*---------------CARDS LEGEDS -------- */
.legends_container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-beetween;
  justify-content: center;
  margin: o auto;
  width:100%;
  /* max-width: 1200px; */
}

.legends {
  background: #0A3238;
  border: 2px solid #986E1E;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  width: 300px;
  /*height: 250px;*/
  text-align: center;
  padding-bottom: 15px;
}

.legends .img-container {
  width: 100%;
  /*height: 180px;*/
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.legends .name {
  color: #fff;
  font-size: 20px;
  margin: 15px 0 7px;
  letter-spacing: 1px;
  text-transform: capitalize;

}

.legends_container .inputs{
  width: 100%;
  align-items: center;
  display:flex;
  justify-content: space-around;
}

.legends_container .inputs input{
  width:30%;
  height: 50px;
  margin: 20px 0px 20px 0px;

}

.legends_container .images{
  display:flex;
  width: 90%;
  justify-content:space-around;
}
.legends_container .images img{
  width:30%;
  border-radius: 20px;
  margin: 20px 10px 10px 10px;
}