* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: FFMarkPro;
  src: url("../resources/FontFont_FF.Mark.Pro.otf");
}


@font-face {
  font-family: FFMarkProBlack;
  src: url("../resources/FontFont_FF.Mark.Pro.Black.otf");
}

body {
  /* Ruta relativa o completa a la imagen */
  background-image: url(../imagenes/fondo2.png);
  /* Centramos el fondo horizontal y verticalmente */
  background-position: center center;
  /* El fonde no se repite */
  background-repeat: no-repeat;
  /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
  background-attachment: fixed;
  /* El fonde se re-escala automáticamente */
  background-size: cover;
}

.container {
  width: 100%;
  margin: auto;
  font-family: FFMarkPro;

  /*FLEX*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

header {
  background: #000;
  width: 100%;
  padding: 0 10px;
  font-family: FFMarkProBlack;

  /*FLEX*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

/*-----------------NAVEGADOR----------------------*/
header .logo img {
  width: 227px;
  vertical-align: top;
}

header nav {
  width: 50%;

  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

header nav a {
  background: black;
  color: #986E1E;
  text-align: center;
  text-decoration: none;
  padding: 18px;

  font-size: 25px;
  transition: 0.7s ease-out;
  /*FLEX HIJO*/
  flex-grow: 1;
}

header nav a:hover {
  border-bottom: 2px solid #fff;
}

.icon {
  display: none;
}

.main {
  padding: 20px;
  flex-grow: 1;
  /*flex-shrink: 1;*/
  flex-basis: 70%;

}

/*------------------PLAYLIST-----------------*/
.play {
  margin: 0;
}

/*-------------MAIN PAGINA DE INICIO-----------------*/
.main img {
  padding: 10px 0px;
  width: 100%;
  height: 650px;
}

.main a {
  background: rgb(51, 235, 235, 0.5);
  color: #fff;
  padding: 20px;
  width: 400px;
  /*  top: 70%;
  left: 22%; 
  position: absolute;
  display: table-header-group; */
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}

/*---------------ASIDE PAGINA DE INICIO---------------*/
aside {
  padding: 20px;
  /*FLEX*/
  flex: 1 1 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

aside h2 {
  background: #986E1E;
  /*text-align: center;*/
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}

aside .guia p {
  background: #212E33;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

aside .guia a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

}

aside .guia p:hover {
  background: #986E1E;
}

/*--------FOOTER PAGINA DE INICIO----------*/
footer {
  background: #986E1E;
  width: 100%;
  padding: 20px 20px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .nombres {
  line-height: 50px;
  color: #fff;
}

footer .social a {
  flex-grow: 1;
  color: #986E1E;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

footer i {
  background: #000;
  border-radius: 50%;
  width: 45px;
  font-size: 20px;
  padding: 15px 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer i:hover {
  background: whitesmoke;
}

/*---------------BUSCADOR ------------- */
.search {
  width: 85%;
  display: flex;
  margin: 30px auto 0;
  justify-content: center;
}

.search1 {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  width: 40%;
  border: 2px solid #986E1E;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#inputSearch {
  background: white;
  border: white;
  width: 100%;
  outline: none;
  text-transform: uppercase;
  color: #986E1E;
  font-weight: bold;
}

.responsive {
  display: flex;
  width: 60%;
}

#order,
.daño_de_ataque,
#filter {
  background: white;
  width: 100%;
  border: 2px solid #986E1E;
  margin: 10px 0px;
  outline: none;
  text-transform: uppercase;
  color: #986E1E;
  font-weight: bold;
  height: 40px;
}

#order{
  border-radius: 0px 5px 5px 0px;
}

/*---------------CARDS LEGEDS -------- */
.legends_container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-beetween;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  max-width: 1300px;
}

.legends {
  background: rgb(10, 50, 56, 0.5);
  border: 2px solid #986E1E;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 300px;
  text-align: center;
  padding-bottom: 15px;
}

.legends:hover {
  background: #0A3238;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.legends_stats1:hover {
  transform: translateY(-5px) scale(1.4) translateZ(0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.legends .img-container {
  width: 100%;
  /*height: 180px;*/
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.legends .name {
  color: #fff;
  font-size: 20px;
  margin: 15px 0 7px;
  letter-spacing: 1px;
  text-transform: capitalize;

}

.legends_container .inputs {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.legends_container .inputs input {
  width: 30%;
  height: 50px;
  margin: 20px 0px 20px 0px;
  background: #fff;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: larger;
  text-align: center;
  color: #000;
}

.legends_list {
  display: flex;
  flex-wrap: wrap;
  align-items: space-beetween;
  justify-content: center;
  margin: 0px auto;
}

.legends_stats1 {
  text-align: center;
  margin: 10px;
  background: rgb(0, 0, 0, 0.5);
  color: #fff;
  padding-bottom: 10px;
}

.legends_list img {
  width: 300px;
}

.legends_list img {
  width: 300px;
}

.legends_list p {
  padding: 10px 0px;
}

.legends_list .name {
  background: #0A3238;
  height: 70px;
  padding: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

#select01,
#select02 {
  font-size: larger;
  width: 30%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 3px;
  outline: none;
  background: rgb(0, 115, 133, 0.7);
  color: #fff;
  box-shadow: 5px 5px rgb(0, 0, 0, 0.4);
}

/*---------------PAGINACIÓN -------- */
.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  outline: none;
  cursor: pointer;
  background: #986E1E;
  margin: 5px;
  transition: 0.4;
  -webkit-transition: 0.4;
  -moz-transition: 0.4;
  -ms-transition: 0.4;
  -o-transition: 0.4;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.pagenumbers button:hover {
  background: #D3AA57;
}

.pagenumbers button.active {
  background: #D3AA57;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/*---------------MODAL ------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay.active {
  display: flex;
}

.overlay img {
  width: 250px;
  max-width: 100%;
  border-radius: 10px;
}

.overlay .description {
  display: block;
  background: #fff;
  text-align: center;
  margin-top: 5px;
  width: 250px;
  /* border-radius: 10px; */
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.overlay .info {
  padding: 10px 0px;
  text-align: center;
  width: 250px;
  background: #fff;
  border-radius: 0px 0px 10px 10px;
}

.overlay .info p {
  display: inline-block;
  padding: 10px 5px;
  background: #986E1E;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container-img {
  position: relative;
}

.overlay #btn-closed {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}


/*--------------MEDIA-QUERYS---------------*/
@media screen and (max-width:768px) {
  .container {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  header .logo {
    margin: 20px 0px;
  }

  header nav {
    width: 100%;
  }

  .main{
    width: 100%;
  }

  .main img {
    width: 100%;
    height: 20%;
  }

  .main a {
    top: 70%;
    left: 22.5%;
  }

  aside {
    flex-direction: row;
    flex: 0;
    text-align: center;
  }

  aside .guia {
    flex-grow: 1;
    width: 100%;
  }

  footer{
    justify-content: center;
  }

}

@media screen and (max-width:375px) {
  .container {
    font-size: 12px;
    flex-direction: column;
  }

  header {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
  }

  .logo_icon {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50vh;
    /*virtual height, de toda la pantalla, es dinámico*/
    transition: all 1s ease;
    position: fixed;
    align-content: flex-end;
  }

  header nav a {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px solid #986E1E;
    font-size: 18px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
    margin-left: 80px;
  }

  .search {
    display: flex;
    flex-direction: column;
  }

  .search1 {
    width: 100%;
    border-radius: 5px;
  }

  .responsive {
    width: 100%;
  }

  #filter {
    border-radius: 5px 0px 0px 5px;
    font-size: 10.6px;
  }
  #order, .daño_de_ataque{
    font-size: 10.6px;
  }

  input[type=button] {
    background: none;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #986E1E;
    font-weight: bold;
  }

  .links {
    position: fixed;
    height: 320px;
    width: 100%;
    right: 0;
    flex-direction: column;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    margin-top: 153px;
    position: absolute;
  }

  .legends_stats1:hover {
    transform: translateY(-5px) scale(1.1) translateZ(0);
    margin: 30px 0px;
  }

  header nav a:hover,
  .active {
    color: #fff;
    border-bottom: none;
    text-align: center;
    transition: 0.3s;
  }

  .openMenu {
    /*https://bennettfeely.com/clippy/*/
    clip-path: circle(0% at 100% 0%);
    /*tamaño, horizontal x, y vertical*/
  }

  .closedMenu {
    /*https://bennettfeely.com/clippy/*/
    clip-path: circle(150% at 100% 0%);
    /*tamaño, horizontal x, y vertical*/
  }

  .main img {
    width: 100%;
    height: 50%;
  }

  .main a {
    width: 55%;
  }

  aside {
    flex-direction: row;
    flex: 0;
  }

  aside .guia {
    flex-grow: 1;
  }

  footer {
    justify-content: space-around;
  }
  
  footer .social a {
    padding: 5px;
  }

  .pagenumbers button {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .legends_stats1 p,
  h3 {
    font-size: 18px;
  }
  .overlay .description {
    color: black;
}

}
