@media (max-width: 1323px) {
    #content {
        justify-content: space-around;
    }
}

@media (max-width: 1020px) {
    #menu-icon {
        visibility: visible;
    }
    #label-nav {
        display: flex;
        justify-content: flex-end;
        margin: 0px 20px;
        flex-grow: 1;
    }
    #box-icon-menu:checked~#menu {
        display: block;
    }
    #nav-drop {
        flex-flow: column wrap;
    }
}

@media (max-width: 768px) {
    #ul-menu #search {
        display: flex;
        order: 1;
        height: 30px;
        width: 90%;
    }
    #ul-menu #search,
    li {
        flex-grow: 1;
    }
    #search-box {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    #search input {
        height: 25px;
        width: 90%;
    }
    #search i {
        margin-top: 6px;
    }
}

@media (max-width: 425px) {
    #logo h1 {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
    }
    #button-order-filter {
        margin: 0px 2%;
    }
}

@media (max-width: 376px) {
    #logo {
        flex-grow: 0;
    }
    #logo img {
        margin: 0;
    }
    #logo h1 {
        flex-grow: 0;
        margin-left: 10px;
    }
    #label-nav {
        flex-grow: 1;
        margin: 0px 10px;
    }
    #button-order-filter {
        margin: 0px 2%;
    }
}

@media (max-width: 334px) {
    #logo h1 {
        font-size: 26px;
    }
    #label-nav {
        margin: 0px 5px;
    }
    .btn-order-filter {
        width: 100px;
    }
    .btn-order-filter i {
        margin-left: 10px;
    }
}