@media screen and (max-width:1025px){
    #landingPage {
        display: block;
    }
    
    #container {
        display: none;
    }

    /*Navigator bar responsive*/
    .menu-deploy{
        display: block;
        margin-left: 5%;
        border: none;
    }

    .logo{
        min-width: 95%;
        margin-right: 3%;
        font-size: 16px;
    }

    .logo a{
        font-size: 24px;
    }

    .listItem{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease-out;   
    }

    .listItem li{
        display: block;
        text-align: center;
    }

    .listItem li a{
        color:#88D9E5;
        background: #15393C;
        border-bottom: 1px dotted black;
        width: 100%;
    }

    .listItem li a:hover{
        background: #264b4e;
        color: black;
    }

    .topnav{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
    }

    .search-container{
        margin-top: 20px;
        width: 100%;
    }

    .flexNav{
        width: 100%;
        justify-content:center;
        align-items: center;
    }
    
    .container {
        width: 100%;
    } 

    .accordionButton {
        height: 68px;
        width: 100%;
        margin-top: 30px;
        padding: 20px 100px;
    }

    .orderBy {
        width: 200px;
        height: 40px;
        margin-left: 390px;
    }

    .pokemonDisplay {
        width: 100%;
    } 
    
    .informationDisplay {
        width: 100%;
    }
    
    .leftInfo {
        width: 23%;
        margin-left: 50px;
        margin-right: 0px;        
    }

    .pokemonBefore {
        margin: 0px 0px;
        margin-right: 0px;
    }

    .centerInfo {
        width: 55%;
        margin-left: 0px;      
    }
      
    .rightInfo {
        width: 23%;
        margin-left: 0px;
        margin-right: 50px;
        padding-left: 0px;                
    }

    .pokemonResistant {
        margin-left: 80px;
    }

    .pokemonAfter {
        height: 60px;
        margin: 0px 0px;
        margin-right: 200px;
    }

    .pokemonWeaknesses {
        margin-left: 80px;    
    }
}

@media screen and (max-width:770px) {
    /**********index.html********/
    
    .intro {
        width: 99.5%;
        height: 580px;
        margin-top: 200px;
        background-image: url(images/7kmF.gif);
        background-repeat: no-repeat; 
        background-size: cover;
        border: solid 1px transparent;
    }

    .introLogo {
        width: 50%;
        height: 380px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(images/fondo_pokemon.png);
        background-repeat: no-repeat; 
        background-size: cover;
        border: solid 1px transparent;
    }

    .introLogo h1 {
        margin-top: 172px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Lucida Console", Courier, monospace;
        font-size: 40px;
        color: #88D9E5;
    }

    .enterApp button {
        width: 140px;
        height: 50px;
        margin-top: 100px;
        margin-left: 310px;
        margin-right: auto;
        padding: 10px;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        color: #88D9E5;
        background-color: transparent;
        text-decoration: none;
        border: none;
    }
  
    .enterApp button:hover {
        color: #00C1EC;
        background-color: transparent;
        text-decoration: underline;
    }   
    
}

@media screen and (max-width:415px) {
    /**********index.html********/
    .intro {
        width: 120%;
        height: 400px;
        margin-top: 180px;
        margin-left: -80px;
        background-image: url(images/7kmF.gif);
        background-repeat: no-repeat; 
        background-size: cover;
        border: solid 1px transparent;
    }

    .introLogo {
        width: 56%;
        height: 250px;
        margin-top: 70px;
        margin-left: 140px;
        margin-right: auto;
        background-image: url(images/fondo_pokemon.png);
        background-repeat: no-repeat; 
        background-size: cover;
        border: solid 1px transparent;
    }

    .introLogo h1 {
        margin-top: 115px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Lucida Console", Courier, monospace;
        font-size: 28px;
        color: #88D9E5;
    }

    .enterApp button {
        width: 140px;
        height: 50px;
        margin-top: 100px;
        margin-left: 120px;
        margin-right: auto;
        padding: 10px;
        font-size: 26px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        color: #88D9E5;
        background-color: transparent;
        text-decoration: none;
        border: none;
    }
  
    .enterApp button:hover {
        color: #00C1EC;
        background-color: transparent;
        text-decoration: underline;
    } 

/*********pokedex.html*********/
    /*******header********/
    .menu-deploy{
        display: block;
        margin-left: 5%;
        border: none;
    }

    .logo{
        min-width: 50%;
        margin-left: 0%;
        font-size: 16px;
    }

    .listItem{
        left: -5%; 
    }

    /*******body********/
    .container {
        width: 100%;
    }

    /***********search by type*********/    
    .accordionButton {
        background-size: 350%;
        padding: 20px 60px;
    }

    .accordionButton::after {
        content: "Type | \25bc";
        float: center;
        transform: scale(1.2);
    }
    
    .accordionButtonActive + .accordionContent {
      display: block;
    }
 
    .accordionButtonActive::after {
        content: "Close search | \25b4";
        padding: 0px 20px;
    }

    .typeContainerHeader h2 {
        margin-right: 15px;        
        margin-left: 15px;       
    }
    
    .typeContainerHeader hr {        
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .typeContainerBody ul {
        margin-left: 0px;
        margin-right: 0px;        
        padding: 0px 0px;        
    }
      
    .typeContainerBody li{
        padding: 17px;   
    }
    
    .typeContainerBodySearchByTypeButtons {
        margin-bottom: 140px;
    }

    /********light folder********/
    .orderByButtons {
        width: 100%;
        height: 67px;
        margin-left: 0px;
        background-image: url(images/fondo_displayAll2.png);
        background-repeat: no-repeat; 
        background-size: cover;
    }

    .orderBy {
        width: 150px;
        height: 30px;
        margin-left: 190px;        
    }

    .orderBy button {
        width: 35px;
        height: 35px;
        padding: 10px;
        margin-top: 15px;
        margin-right: 10px;
    }

    .tooltip .tooltiptext {
        width: 60px;        
        font-size: 12px;
        left: 50%;
        margin-left: -35px;
    }

    /********Pokémon display********/
    .picture {
        width: 150px;
        height: 175.5px;
        margin: 5px;

    }
    
    .img {
        width: 97.5px;
        height: 97.5px;
    }

    .essentialInformation {
        width: 150px;
        height: 150px;
    }

    .morePok {
        width: 80px;
        padding: 5px;
        margin: 15px 40px;
        font-size: 12px;
        box-shadow: 2px 5px 4px #888888;
    }

    /****Information display********/
    .close {
        width: 95%;
        height: 25px;
    }

    .nameAndNum {
        width: 95%;
        height: 10px;
        margin: 5px 0px;
    }

    .nameAndNum p {
        width: 35%;
        margin-top: -25px;   
    }

    .numPokH2 {
        /*numero de pokemon*/
        padding: 5px 0px;
        font-size: 14px;
        line-height: 1.5;        
    }
        
    .namePok {
    /*nombre de pokemon*/            
        font-size: 16px;
        line-height: 1.5;                    
    }

    .mainInfo {
        width: 95%;
        height: 240px;
    }
    
    .leftInfo {
        width: 25%;
        margin-left: 0px;
        margin-right: 0px;        
    }

    .pokemonType {
        height: 90px; 
        margin-left: 5px;
        margin-right: 5px;      
    }
    
    .typePok2 p {
        width: 50px;
        height: 15px;          
    }
    
    .pokemonBefore {
        margin: 0px 0px;
        margin-right: 0px;
    }

    .pokemonSize {
        display: none;           
    }
    
    .centerInfo {
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
        background-size: 150%;      
    }

    .circleImg {        
        background-size: 70%;
        padding: 50px 0px;
        padding-top: 180px;        
    }
    
    .imgPokSelect {        
        padding: 50px 0px;
        width: 40%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);       
    }
          
    .rightInfo {
        width: 15%;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;                
    }
    
    .pokemonResistant {
        display: none;
    }
    
    .pokemonAfter {
        height: 60px;
        margin: 0px 0px;
        margin-right: 200px;
    }
    
    .pokemonWeaknesses {
        display: none;    
    }

    .midContainer {
        width: 96%;
        height: 38%;
        margin-top: -30px;
        display: block;
        flex-direction: row;            
        flex-wrap: wrap;              
        justify-content: space-between;
    }

    .featuresPok, .aboutPokContainer {        
        flex-direction: column;        
        width: 100%;
        font-size: 14px; 
        align-content: stretch;
    }
    
    .featuresPok p{
        width: 96%;
        height:10%;
        text-align: left;
        margin: 5px 10px;        
    }
    
    .titleaboutPok{
        width: 96%;
        height:18%;
        text-align: left;
        font-size: 16px;
        margin: 10px;
    }

    .sectionAboutPok{
        display: flex;
        align-items: center;
        height: 90%;
        width: 94%;
        padding: 10px;
        font-size: 14px;
        text-align: left;        
    }
    
    .tableStats{ 
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        justify-items: center;        
    }

    .tableStats,td{       
        border: 1px solid #00C1EC;
        border-collapse: collapse;
        padding: 6px;
    }
    
    .lastContainer {
        margin-top: 4%;
        width: 97.5%;        
    }

    .evolutionsPokImages {
        width: 99%;        
    }

    .noEvolution {        
        font-size: 14px;
    }

    /********footer*****/
    .footer {           
        padding: 20px 15px;           
    }
        
    .footer1 {
        font-size: 14px;
        line-height: 1.5;
    }
        
    .footer2 {
        font-size: 12px;
        line-height: 3;            
    }
}