/*-----Univeral-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----Body------*/
body {
    background-image: url('https://user-images.githubusercontent.com/55853256/91184100-daa3f700-e6b1-11ea-96b2-62bb82ed786e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*-----Container-----*/
.container {
    width: 100%;
    margin: auto;
}
/*-----Header-----*/
/* header {
    width: 100%;
    height: 70px;
} */

header nav {
   height: 100px;
   display: flex;
   /* align-items: center; */
   background-color: rgba(11, 12, 12, 0.8);
}



.navbar {
    align-self: flex-end;
    justify-content: center;
}

nav img {
    padding: 14px;
}

div {    color:  #fafbfc;

}

.boton {
    display:flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#buttonsContainer button {
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 40px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(11, 12, 12, 0.3);
    padding: 50px;
}


.flex-container button {
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 120px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(92, 156, 156, 0.4);
    letter-spacing: 0.10em;
    border: none;
    outline: none;
}

#buttonsContainer button {
    float: none;
    flex-wrap: wrap;
}

/* .flex-container button:hover, .active {
    color: #072C44; 
    border-bottom: 4px solid #072C44;
} */
.flex-container button:hover {
    background-color: #eee;
    color: #072C44;
    border-bottom: 4px solid #072C44;
  }


#listCharacters img {
    width: 200px;
    border-radius: 50%;
    margin: 25px;
}

#listCharacters li {
    width: 250px;
    background-color: rgba(11, 12, 12, 0.7);
    margin: 25px;
    text-align: center;
    list-style-type: none;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    
}

/* #listCharacters {
    opacity: 0;
}

.imgLoaded {
    opacity: 1;
} */

.hide {
    display: none;
}


nav .title {
    left: 72px;
    top: 16px;
    font-family: 'Patrick Hand SC', cursive;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 20px;
    line-height: 32px;
    color: #94E858; 
    display: flex; 
}

header form {
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

/* header .search-bar {
    width: 70%;
    height: 42px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
} */

.more-icon a {
    padding-right: 24px;
}

/* #search-button {
    width:  24px;
    height: 24px;
} */

.sort-icon {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

header .categories{
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

/* .categories button {
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 120px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.10em;
    border: none;
    outline: none;
    color: ;
    background-color: #5C9C9C;
    color: #072C44;
} */

.categories button:hover, .active {
    color: #072C44;
    border-bottom: 2px solid #072C44;
}



/* Header Menu */
.navbar {
    /* overflow: hidden; */
    font-family: 'Patrick Hand SC', cursive;
    
}
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    /* overflow: hidden; */
  }
  
  .subnav .subnavbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color:rgb(92, 156, 156, 0.4);
    color: white;
  }
  
  .subnav-content {
    /* display: none; */
    width: 100%;
    background-color:rgb(92, 156, 156, 0.4);
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1;
  }

  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color:rgb(92, 156, 156, 0.4);
    color: white;
  }
  
  /* .subnav:hover .subnav-content {
    display: block;
  } */


/* active action */

header .navbar a.active {
    color: #072C44;
    background-color: #eee;
}

header .subnav-content a.active {
    color: #072C44;
    background-color: #eee;
}


.center {
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.images-loaded {
    opacity: 1;
}
