
* {box-sizing: border-box}
body {
  margin:0;
  background-image: url('./img/FondoLOL.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/*Header*/
.header {
  padding: 60px;
}
.title-lol {
  display: block;
  margin: auto;
  width: 400px;
  height: auto; 
}
.menus{ 
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
}
.logoHome{
  margin: auto 0;
  width: auto;
  height: auto;
  top: 50%;
  left: 5%;
  position: relative;
  vertical-align: middle;
}
.imgfooter:hover{
  border-radius: 60%;
  box-shadow: inset 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #BBA341;
  justify-content: space-around;
  align-items: center; 
  width: 50%;
  margin:5px;
  border-radius: 25px 0px;
  opacity: 0.8;
  overflow: hidden;
  padding: 0;
  top: 50%;
  left: 20%; 
}
.menu-bar a{
  color: #000000;
  Text-decoration: none;
  line-height: 44px;
  font-size: 35px;
  font-weight: normal;
  font-family: 'Marcellus SC', serif;
  font-style: Regular;
  vertical-align: top;
  width: 100%;
  margin: 10px;
  text-align: center;
  text-shadow:0.0625rem 0.0625rem 0.5rem black, 0 0 1em beige, 0 0 0.2em beige;
}
.menu-bar a:hover {
  color:#BBA341;
  background-color: #222423;
  background-size: auto;
  border-radius: 25px 0px;
  text-shadow: 0.0625rem 0.0625rem 0.5rem #07cbe9, 0 0 1em #d6c772, 0 0 0.2em #07cbe9;
}
.menu-play {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(12, 166, 190, 0.85);
  align-items: center;  
  width: 18%;
  margin: 10px;
  border-radius: 25px 0px;
  opacity: 0.7;
  overflow: hidden;
  padding: 0;
  justify-content: space-evenly;
  top: 49%;
  right: 5%;
}
.menu-play a { 
  color: #000000;
  text-decoration: none;
  font-size: 35px;
  font-weight: normal;
  font-family: 'Marcellus SC', serif;
  font-style: Regular;
  line-height: 44px;
  vertical-align: top;
  width: 100%;
  margin: 10px;
  text-align: center;
  text-shadow: 0.0625rem 0.0625rem 0.5rem #07cbe9, 0 0 1em #d6c772, 0 0 0.2em #07cbe9;
}
.menu-play a:hover{
  text-shadow:  0.0625rem 0.0625rem 0.5rem #d6c772, 0 0 1em #d6c772, 0 0 0.2em #d6c772;
}

/*section home*/
.home{
  display:flex;
  width:100;
}
.container-box {
  background-color: rgba(10, 3, 3, 0.404);
  height: auto;
  max-height: 800px; 
  max-width: 800px;
  margin-left: 4%;
  border: 5px inset #BBA341;
  padding: 1rem 2rem 1rem 2rem;
  overflow: auto;
  font-family: 'Marcellus SC', serif;
  border-radius: 0px 20px;
}
.box-divider{
  padding-top:2rem;
  width: 100%;
}
.container-box p{
  font-size: 22px;
  text-align: justify;
  color: #EADA9D; 
}
.container-box a{
  color: #5fc2c9;
  text-decoration: none;
  letter-spacing: .25rem; 
}
.container-box a:hover{
  color: #59e7e0;
  text-shadow: 0.0625rem 0.0625rem 0.5rem #07cbe9, 0 0 1em #d6c772, 0 0 0.2em #07cbe9;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.container-box h2{
  padding: 1%;
  font-size: 38px;
  text-align: center;
  color: #EADA9D;
  font-weight: bold; 
}
.comunidad-nav{
  text-align: center; 
  word-spacing: 1rem;
}

/*Modo de juego y Video de LOL */
.modos{
  margin-left: 5%;
  margin-right: 5%; 
  width: 100%;
}

/*Seccion slides LOL */
.mode-play h2{
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #BBA341;
  align-items: normal; 
  width: 100%;
  max-width: 700px;
  margin:auto;
  border-radius: 0px 25px ;
  padding: 1%;
  top: 80%;
  right: 5%;
  font-family: 'Marcellus SC', serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-shadow:0.0625rem 0.0625rem 0.5rem black, 0 0 1em beige, 0 0 0.2em beige;
  opacity: 0.7;
}
.mySlides {display: none;
}
img {vertical-align: middle;
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: 1%;
  background-color: rgba(10, 3, 3, 0.404);
  height: auto;
  border: 5px inset #BBA341;
  overflow: none;
  border-radius: 0px 20px;
  top: 87%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #BBA341;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color:  #BBA341;
  font-size: 16px;
  padding: 8px 10px;
  position:absolute;
  top: 0;
}
#dot1,#dot2,#dot3,#dot4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #BBA341;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation slide*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.body-divider{
  top: 95%;
  right: 5%;
  width: 100%;
}

/*Seccion video LOL */
.lol-video{
  width:800px;
  position: relative;
  margin: 1%;
  background-color: rgba(10, 3, 3, 0.404);
  height: 400px;
  border: 5px inset #BBA341;
  overflow: auto;
  border-radius: 0px 20px;
}
.video-container h2{
  display: block;
  background-color: #BBA341;
  align-items: normal; 
  margin:auto;
  max-width:700px;
  border-radius: 0px 25px ;
  padding: 1%;
  justify-content: center;
  right: 5%;
  font-family: 'Marcellus SC', serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  text-align: center; 
  text-shadow:0.0625rem 0.0625rem 0.5rem black, 0 0 1em beige, 0 0 0.2em beige;
  opacity: 0.7;
}

/*Seccion footer LOL */
.container-footer{
  width:100%;
  margin-top:10px;
}
.riot{
    text-align:center;
}
#imgriot:hover {
  -webkit-box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
  -ms-box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
  -moz-box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
  box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;  
}
footer{
  width:100%; 
  margin-top: 10px;
  padding-top:10px;
}
.footer{
  display:flex;
  width:100%;
  padding:10px;
  justify-content: space-between;
}
.left{
  align-items: left;
  padding: 1rem;
}
.derechos{
  color:#EADA9D;
  font-size: 25px;
}
.left:hover{
  color:#EADA9D;
  text-shadow: 0.0625rem 0.0625rem 0.375rem #feb412;
}
.redes{
 text-align: right;
 padding: 1rem;
}
.imgredes:hover{
  border-radius: 50%;
  box-shadow: inset 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}
.imgredes{
  width: 3rem;
  height: auto;
}
.nav-link{
  width: min-content;
}
#compartir {
  height: 3rem;
  width: 3rem;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes wobble {
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); } 
}
@-webkit-keyframes wobble { 
  0% { -webkit-transform: translateX(0%); } 
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
  30% { -webkit-transform: translateX(20%) rotate(3deg); } 
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
  60% { -webkit-transform: translateX(10%) rotate(2deg); } 
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); } 
}

/* Responsive*/
@media (max-width: 700px) {
  .title-lol{
    width: 55%;}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*segunda pantalla------------------------------------------------------------*/
.top-second{
  display: none;
}