/*@import url(menu.css);*/ 
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    background: url(img/fondo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    text-transform: capitalize;

    margin: 20 px;
    padding: 20px;
    text-align: center;
    font-size: 1em; 
}

body {
    font-family: 'Fredoka One', cursive;
    background-color: #DEDEDE;
    padding: 20px 0 20px 0;
    margin: 0;
    font-size: 1; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 4px 25 -22px #000;
    z-index: 2;
    
}
 
.header-content{
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;
}

.logo{
     height: 80px;
     width: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.infoPokeModal {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 955px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}
  


/* social bar */

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}



.menu{
    height: 80px; 
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.textoLogo{
color: #DEDEDE ;
}

.container{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filterData{
   margin: 30px;
   
}

/* select{
    background:#DFE5F2;
    width: 8cm;
    height: 1cm;
    
} */

.select-css {
    display: block;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 120px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: linear-gradient(to bottom, #a3bded 0%, #6991c7 100%);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #a3bded 0%, #6991c7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .85em auto, 100%;
   
   }
   .select-css::-ms-expand {
    display: none;
   }
   .select-css:hover {
    border-color: #888;
   }
   .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
   }
   .selecct-css option-value{
    background-image: linear-gradient(to bottom, #b9cef5 0%, #6991c7 100%);
   }
   .input-css{
    display: block;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: rgb(38, 7, 66);
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 220px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .7em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(to bottom, #b9cef5 0%, #6991c7 100%);
    text-align: center;
   }
   .input-css::-ms-expand {
    display: none;
   }
   .input-css:hover {
    border-color: #888;
   }
   .input-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
   }


.dataCompleta {
    padding: 20px 0;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.dataPoke {
    background: rgba(159, 206, 236, 0.568);
    border-radius: 30px;
    border: solid 2px rgba(154, 206, 240, 0.568);
    width: 200px;
    height: 250px;
    color:  #323988;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.664);
    text-align: center;
    margin: 30px 20px 20px 20px;
    font-family: 'Fredoka One', cursive;
}

.dataPoke p{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.hide{
    display: none;
}





footer {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Verdana';
    justify-content: space-evenly;
    color: white;
    display: flex; 
    position: fixed;
    padding: 10px 0;
    border-top:1px solid #77d2d8;
}

.logo-footer {
    width: 20px;
    height: 20px;
}

footer div{
    display: flex;
}