*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}   

body{
    text-align: center;
    background-image: url(images/pokemon.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;     
    background-attachment:fixed;  
    opacity:0.9;
}

nav{
    display:none;
}

header{
    background-color:white;
    background-image: url(images/pokebola.jpg);
    background-repeat: no-repeat;     
    background-attachment:fixed;
    background-size:30% 60%;
    background-position:5% -50%;      
}

h1{ 
    font-family: 'Varela', sans-serif;
    font-size:60px;
    padding-bottom:45px;
    padding-top:80px; 
}

.section1{
    display: flex;
    justify-content: center;
    margin-left:100px;
    
}

.section1_select{
    width: 18%;
    height:40px; 
    border: 2px solid #ccc;
    border-radius:5px;
    text-align-last: center;
    font-size:18px;
    /* color: white;
    background-color: #3CBC8D; */
    box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.2);
}

select:hover{
    color: black;
    box-shadow: 0px 10px 10px rgba(190, 184, 184, 0.97);
}

select option{
    font-size:14px;
    color: black;
} 

.section1_input{
    width:36%;
    height:40px;
    background-image:url(images/searchBy.png);
    background-size: 5%;
    background-position: right; 
    background-repeat:no-repeat;
    padding-left:20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.2);
}

h2{
    
    font-family: 'Varela', sans-serif;
    font-size:28px;
    text-align: left;
    padding:60px;
    padding-bottom: 45px;
    margin-left:180px;    
}

a:link{
    text-decoration: none;
}

a:visited {
    color: dimgrey;   
}

a:active {
    color: #9b9b9b;   
}

.section2{
   margin-left:100px;
   display: flex;
   justify-content: center;
   padding-top:50px;
}

/* table */
.section2_table{
    display: flex;
    flex-wrap: wrap;
    width:85%;
    margin: auto;
   
}

.section2_table-item{
    background-color:white;
    flex:20%;
    flex-grow:1;
    padding:25px;
    margin:15px;   
    max-width:24%;
    border:1px solid white;
    border-radius:15px;
    box-shadow: 0px 8px 16px 0px rgba(87, 22, 22, 0.2);
}

.section2-table-item_num{
    float:right;
    padding-right:25px;
    padding-top:10px;
    font-size:16px;
}

.section2-table-item_img{
    width:55%; 
}

.section2-table-item_name{ 
    font-family:'Varela', sans-serif;
    font-size:14px;
    line-height:15px;
    padding-bottom: 5px;
}

.section2-table-item_type{
    font-family:'Varela', sans-serif;
    font-size:14px;
    line-height: 20px;
    margin-right:10%;
    margin-left:10%;
    color:white;
    border-radius: 5px;
    background-color:rgb(168, 82, 82);
}

/* modal */
.section2_modal{
   
}
    
.section2_modal-item{
    display:none;
    position:fixed; 
    z-index:1;
    overflow:auto;  
    left:37%;
    top:40%;
    width:30%;
    height: 45%;
    padding:25px;
    border-radius:20px;
    background-color:white;
    border:2px solid rgb(241, 241, 245);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    animation-name: example;
    animation-duration: 4s;
}

.section2-modal-item_close{
    float:left;
    font-size:30px;
    padding-left:10px;
}

.section2-modal-item_num{
    float:right;
    padding-right:20px;
    font-size:12px;
}

.section2-modal-item_img{
  width:60%;
}

.section2-modal-item_name{ 
    font-family:'Varela', sans-serif;
    font-size:16px;
    line-height:20px;
    padding-bottom: 10px;
}

.section2-modal-item_type{
    font-family:'Varela', sans-serif;
    font-size:14px;
    line-height: 25px;
    color:white;
    border-radius: 5px;
    background-color:rgb(168, 82, 82);
    margin-left:25%;
    margin-right:25%;
    margin-bottom:5%
}

/* .section2-modal-item_wak{
    font-family:'Varela', sans-serif;
    font-size:14px;
    line-height: 25px;
    color:white;
    border-radius: 5px;
    background-color:rgb(168, 82, 82);
    margin-left:25%;
    margin-right:25%;
    margin-bottom:5%
} */

table {
    font-size:10px;
    min-width: 50%;
    border: grey 2px solid;
    margin-left:25%;
    margin-right:25%
}


/*animacion*/
@keyframes example {
    from {background-color: grey}
    to {background-color: white} 
  }
/* 
footer{
    position: absolute;
    top:  50px;
    left: 10px;
} */


/*media query*/
@media (max-width: 992px) {
    nav{
        display:inline-flex;
        float:left;
        padding-top:100px;
        padding-left:80px;
    }
    
    .nav_img1{
        width:60px;
    }

    .nav-img2{
        
        width:30px;
        height:auto;
    }

    header{
        background-image: url(images/pokebola.jpg);
        background-repeat: no-repeat;     
        background-attachment:fixed;
        background-size:30% 20%;
        background-position: right -5%;         
    }  

    h1{
         padding-top:40px;
         padding-bottom:40px;
         font-size:40px;
    }
    .section1{
        display:flex;
        flex-wrap: wrap;
        margin-left:0;
    }
    .section1_select{
        width: 40%;
        height: 50px; 
        font-size:20px;
        /* margin-bottom: 5px; */
    }  
  
    .section1_input{
        display:none;
    }

    h2{
        font-size: 30px;
        margin-left:50px;
        padding-top:50px;
        padding-bottom: 50px;
    }

    .section2{
        margin-left:15px;
    }
    .section2_table-item{
        flex: 40%;
        max-width:46%;
    }
   
    .section2-table-item_num{
        font-size:22px;
    
    }
    .section2-table-item_img{
        width:50%;
    }

    .section2-table-item_name{ 
        font-size:12px;
    }
    
    .section2-table-item_type{
        margin-right:5%;
        margin-left:5%;
        line-height: 25px;
        margin-bottom: 5px;
    }
   
   .section2_modal-item{
        left:22%;
        top:40%;
        width:60%;
        height:35%;
        padding:40px;
    }

    .section2-modal-item_close{
        font-size:44px;
    }

    .section2-modal-item_num{
        font-size:26px;
    }

    .section2-modal-item_img{
    width:60%;    
    }

    .section2-modal-item_name{ 
        font-size:32px;
        line-height:32px;
    }

    .section2-modal-item_type{
        font-size:24px;
        line-height: 32px;
    }  

    table {
        font-size:18px;
    }
