/*-----Univeral-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----Body------*/
body {
    background-image: url('https://user-images.githubusercontent.com/55853256/91184100-daa3f700-e6b1-11ea-96b2-62bb82ed786e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: rgba(11, 17, 17, 0.8);
    /* background-color:rgba(17, 49, 57, 0.8); */
}

/*-----Container-----*/
/* .container {
    width: 100%;
    margin: auto; */

/*-----Header-----*/
/* header {
    width: 100%;
    height: 70px;
} */

/* header nav {
   height: 100px;
   display: flex;
   background-color: rgba(11, 12, 12, 0.8);
   
} */
/* oculto para responsive */

nav img {
    padding: 15px;
}

div { 
    color:  #fafbfc;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(11, 12, 12, 0.3);
    padding: 50px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.characterName {
    font-family:'Open Sans', sans-serif;
}

.buttonsContainer {
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 140px;
    padding-left: 100px;
    background-color: rgba(11, 12, 12, 0.3);
    align-items: center;
}

.buttonsContainer button {
    margin: 5px;
    padding: 15px;
    cursor: pointer;
    /* font-family: 'Patrick Hand SC', cursive; */
    font-size: 16px;
    font-weight: bold;
    color:black;
    background-color: #3fbec4;
    letter-spacing: 0.10em;
    border: none;
    width: 50px;
    outline: none;
}

.buttonsContainer button:hover {
    background-color: white;
    color: #072C44;
    border-bottom: 4px solid #072C44;
}

#listCharacters img{
    width: 200px;
    border-radius: 50%;
    margin: 25px;
}

p {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
    text-align: center;
}

h3 {
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 25px;
    text-align: center;
    color:yellow;
}

#listCharacters div {
    width: 250px;
    background-color: rgba(11, 12, 12, 0.75);
    margin: 25px;
    list-style-type: none;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    
}

/* #listCharacters {
    opacity: 0;
}

.imgLoaded {
    opacity: 1;
} */

/* .hide {
    display: none;
} */

/* 
header form {
    display: flex;
    justify-content: center;
} */

/* header .search-bar {
    width: 70%;
    height: 42px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
} */

/* .more-icon a {
    padding-right: 24px;
} */

/* 
.sort-icon {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
} */


.center {
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.images-loaded {
    opacity: 1;
}




/* Responsive menu mobile */

nav {
    display: flex;
    flex-direction: column;
}

.topnav {
    overflow: hidden;
    font-family: 'Patrick Hand SC', cursive;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  header .topnav a.active {
    color: #072C44;
    background-color: #eee;
}

header .dropdown .dropdown-content a.active {
    color: #072C44;
    background-color: #eee;
}

.topnav .icon {
    display: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    width: 200px;
    height: 150px;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #072C44;
    color: white;
}
  
.dropdown-content a:hover {
    background-color:#072C44;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}