@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}
.logo {
	width: 350px;
	display: flex;
	margin: auto;
	padding-top: 20px;
}
body {
	background: #efefbb;
	background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
	background: linear-gradient(to right, #d4d3dd, #efefbb);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

.select {
	width: 1050px;
	margin: 50px 0px 50px 0px;
	display: flex;
}
select {
	width: 100%;
	height: 50px;
	font-size: 100%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0;
	background-color: #f73336;
	border: solid black 1px;
	color: black;
	appearance: none;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
	text-align-last: center;
	font-size: 25px;
}
select:hover,
select:focus {
	color: black;
	background: #efefbb;
	background-color: #ddd7b1;
	border-bottom-color: black;
}

input[type='text'] {
	width: 2000px;
	padding-left: 10px;
	padding-right: 50px;
	background: transparent;
	font-size: 18px;
	text-align-last: center;
}

.lupa .buscar {
	position: absolute;
	width: 35px;
} 
header .buscar {
	position: absolute ;
	width: 35px;
	height: 35px;
	top: 180px;
	right: 250px;
} 
/* ----------ESTILOS PARA MOSTRAR LOS POKEMON */
main {
	margin-bottom: 100px;
}
.dataPoke {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}
.pokemon:hover {
	cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

/* ------------------------------ESTILOS DEL FOOTER */

footer {
	display: flex;
	align-items: flex-end;
}
p {
	background-color: black;
	color: white;
	margin: auto;
	width: 100%;
	justify-content: center;
	text-align: center;
	height: 80px;
	padding-top: 40px;
	font-size: 18px;
}

 @media (max-width: 400px) {
	header .buscar {
		display: flex;
	  }
	header .buscar {
		display: flex;
	  }
} 